.historyModal {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 85vw;
  max-height: 90vh;
  min-height: 40vh;

  @media screen and (max-width: 768px) {
    .titleContainer {
      order: 0;
    }
    .topSubInfoContainer {
      order: 1;
    }
    .keywordContainer {
      order: 2;
      margin-bottom: 0 !important;
    }
    .joinMemberContainer {
      padding-top: 8px !important;
      order: 3;
    }
    > * {
      order: 4;
    }
  }
  .titleContainer {
    padding-bottom: 28px;
    border-bottom: 1px solid var(--gray-opacity28);
    align-items: center;
    color: var(--gray800);
    @media screen and (max-width: 768px) {
      & {
        flex-wrap: wrap;
      }
      .title {
        order: 0;
      }
      a {
        order: 1;
      }
      .topTextContainer {
        order: 2;
        width: 100%;
        justify-content: flex-end;
        color: var(--gray600);
        margin-top: 8px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    max-height: unset;
  }

  .topTextContainer {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  .topSubInfoContainer {
    display: flex;
    align-items: center;
    gap: 80px;
    @media screen and (max-width: 768px) {
      justify-content: space-between;
      gap: 0;
    }
    margin-top: 28px;
    > .subInfoItem {
      display: flex;
      gap: 12px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .keywordContainer {
    padding: 16px;
    margin: 28px 0;
    background-color: var(--primary-opacity4);
    border-radius: 4px;
    > .itemContainer {
      display: flex;
      margin-top: 12px;
      gap: 12px;
      > .label {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--info-darker);
        background-color: var(--info-opacity8);
      }
    }
  }
  .contentsContainer {
    display: flex;
    gap: 28px;
    padding: 28px 0;
    border-top: 1px solid var(--gray-opacity28);
    border-bottom: 1px solid var(--gray-opacity28);
    .innerTitleContainer {
      height: 48px;
      align-items: center;
    }
    @media screen and (max-width: 768px) {
      flex-direction: column;
      border-bottom: 0;
    }
    > article {
      flex: 1;
      .iconButton {
        background-color: unset;
        display: flex;
        gap: 4px;
        align-items: center;
      }
      > .innerContainer {
        border-radius: 6px;
        display: flex;
        gap: 8px;
        flex-direction: column;
        padding: 20px;
        overflow: auto;
        height: 30vh;
        @media screen and (max-width: 768px) {
          height: 45vh;
        }
      }
    }
    > article.scriptContainer {
      flex: 1;
      > .innerContainer {
        background-color: var(--gray300);
        border: 1px solid var(--gray-opacity12);
        > .scriptItem {
          .nameContainer {
            display: flex;
            gap: 12px;
          }
          .grayContent {
            background-color: var(--gray-opacity12);
            border-radius: 4px;
            padding: 8px 4px;
          }
          display: flex;
          flex-direction: column;
          gap: 8px;
          background-color: #fff;
          padding: 12px 20px;
          width: 100%;
          border-radius: 8px;
        }
      }
    }
    > article.summaryContainer {
      flex: 1;
      .innerContainer {
        background-color: var(--gray200);
        border: 1px solid var(--gray-opacity24);
        .lineInfoContainer {
          padding: 20px 0;
          gap: 8px;
          display: flex;
          flex-direction: column;
          border-bottom: 1px solid var(--gray-opacity28);
          &:first-child {
            padding-top: 0;
          }
          &:last-child {
            border-bottom: none;
            padding-bottom: 0;
          }
          .infoItem {
            display: flex;
            flex: 1;
            > .title {
              flex: 3;
            }
            > .content {
              flex: 7;
              gap: 12px;
              display: flex;
              align-items: flex-end;
            }
          }
          .whiteContainer {
            gap: 6px;
            background-color: #fff;
            padding: 20px 28px;
            display: flex;
            flex-direction: column;
            > li {
              list-style: inside;
            }
          }
        }
      }
    }
    > article.videoContainer {
      width: 440px;
      flex: 0;
      @media screen and (max-width: 768px) {
        width: 100%;
        flex: 1;
      }
      .innerContainer {
        @media screen and (max-width: 768px) {
          height: auto;
        }
        background-color: var(--gray200);
        border: 1px solid var(--gray-opacity24);
        video {
          width: 400px;
          height: 225px;
          padding-bottom: 20px;
          border-bottom: 1px solid var(--gray-opacity28);
          @media screen and (max-width: 768px) {
            width: 100%;
            height: auto;
          }
        }
        > .playControlContainer {
          display: flex;
          gap: 12px;
          margin-top: 20px;
          justify-content: center;
          .button {
            gap: 8px;
          }
        }
      }
    }
  }
  .joinMemberContainer {
    padding-top: 28px;
    .memeberListButtonContainer {
      .memberListContainer {
        gap: 12px;
        display: flex;
        .memberItem {
          background-color: var(--info-opacity8);
          padding: 8px 16px;
          color: var(--info-dark);
        }
      }
      .button {
        background: unset;
      }
      display: flex;
      justify-content: space-between;
      margin-top: 4px;
      background-color: var(--gray200);
      border-radius: 4px;
      padding: 16px;
    }
  }
  .bottomButton {
    margin-top: 28px;
    width: 100%;
    box-sizing: border-box;
    @media screen and (max-width: 768px) {
      display: none;
    }
    button {
      background-color: unset;
    }
  }
}
