input {
  &.input {
    height: 54px;
    padding: 18px 14px;
    border-radius: 8px;
    font-family: Pretendard;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    box-sizing: border-box;
    flex: 1;
    border: 1px solid var(--gray-opacity28);
    &::placeholder {
      color: var(--gray500);
    }
    &:disabled {
      background-color: var(--gray-opacity12);
      border: 0;
    }
    &.small {
      height: 40px;
    }
  }

  &.mobile {
    height: 38px;
    border-radius: 19px;
  }
}

.inputIconContainer {
  display: flex;
  gap: 12px;
  position: relative;
  label {
    min-width: 88px;
  }
  input {
  }
}
