label.label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  min-width: 30px;
  width: fit-content;
}

label.large {
  padding: 6px 8px;
}

label.medium {
  padding: 4px 8px;
}

label.small {
  padding: 2px 8px;
}
