.web {
  .header {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .mobileMask {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #00000070;
    position: fixed;
    display: none;
  }
  .leftSection {
    display: flex;
    align-items: center;
    width: 284px;
    transition: all 0.2s;
    flex-direction: column;
    background-color: var(--primary-darker);
    @media screen and (max-width: 1440px) {
      width: 48px;
      overflow: hidden;
    }
    @media screen and (max-width: 768px) {
      width: 0;
      position: absolute;
      right: 0;
    }
    .faqButton {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
    .closeCollapseButton {
      @media screen and (max-width: 768px) {
        transform: rotate(180deg);
      }
    }
    .collapseContainer {
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      > div {
        text-orientation: upright;
        writing-mode: vertical-lr;
      }
      @media screen and (min-width: 1440px) {
        display: none;
      }
    }
    .wideContainer {
      @media screen and (max-width: 1440px) {
        display: none;
      }
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    &.open {
      width: 284px;
      overflow: hidden;
      @media screen and (max-width: 1440px) {
        position: absolute;
        height: 100%;
        z-index: 1;
      }
      .collapseContainer {
        display: none;
      }
      .wideContainer {
        display: block;
      }
      @media screen and (max-width: 768px) {
        position: absolute;
        right: 0;
      }
    }
    &.close {
      width: 48px;
      overflow: hidden;
      .collapseContainer {
        display: flex;
      }
      .wideContainer {
        display: none;
      }
      @media screen and (max-width: 768px) {
        width: 0;
      }
    }
    .top {
      background-color: var(--white-opacity12);
      padding: 40px 24px 34px 40px;
      width: 100%;
      border-bottom-right-radius: 44px;
    }
    .nameContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .positionContainer {
      display: flex;
      width: 100%;
      height: 22px;
      padding: 2px 16px 2px 16px;
      gap: 8px;
      border-radius: 80px;
      background-color: var(--gray-opacity12);
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      > div {
        flex: 1;
        display: flex;
        justify-content: center;
      }
      > i {
        background-color: var(--primary-lighter);
        width: 1px;
        height: 8px;
      }
    }
    .subInfoContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 32px;
      width: 100%;
      > li {
        display: flex;
        gap: 8px;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        > img {
          width: 12px;
          height: 12px;
        }
      }
    }
    .bottomContainer {
      display: flex;
      padding: 62px 24px 40px 40px;
      justify-content: flex-start;
      flex-direction: column;
      height: 100%;
      width: 100%;
      > .countContainer {
        margin-top: 20px;
        display: flex;
        gap: 24px;
        flex-direction: column;
        > li {
          padding: 0 8px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .contents {
    @media screen and (max-width: 768px) {
      display: none;
    }
    margin: 24px 16px;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    background-color: var(--white);
    border-radius: 8px;
    padding: 20px 24px;
    box-sizing: border-box;
    .buttonContainer {
      margin-top: 24px;
      display: flex;
      gap: 20px;
      > button {
        flex: 1;
        background-color: var(--white);
        border: 1px solid var(--primary-opacity48);
        color: var(--primary-dark);
        gap: 4px;
      }
    }

    .selectboxContainer {
      margin-top: 24px;
      display: flex;
      gap: 20px;
      > .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        > label {
          padding: 0 14px;
          height: 30px;
        }
      }
    }

    .inputContainer {
      display: grid;
      gap: 20px;
      margin-top: 20px;
      grid-template-columns: 1fr 1fr 1fr;
      > .item {
        flex: 1;
        display: flex;
        gap: 12px;
        align-items: center;
        > label {
          height: 30px;
          display: flex;
          align-items: center;
        }
      }
    }

    .searchButtonContainer {
      margin: 24px 0;
      gap: 12px;
    }

    .tableContainer {
      width: 100%;
      border-top: 1px solid var(--gray-opacity28);
      padding: 28px 0;
      .table {
        margin-top: 24px;
        .elipssis {
          max-width: 200px;
          text-align: left;
        }
      }
      .labelsContainer {
        display: flex;
        gap: 8px;
        max-width: 130px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        label {
          padding: 8px;
        }
      }
    }
  }

  .rightContainer {
    background-color: #f3f6ff;
    width: 396px;
    margin-top: 24px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 24px 0px 0px 24px;
    transition: all 0.2s;
    @media screen and (max-width: 1200px) {
      width: 48px;
      overflow: hidden;
    }
    @media screen and (max-width: 768px) {
      display: none;
    }
    .collapseContainer {
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: center;
      background-color: var(--primary-opacity4);
      > div {
        text-orientation: upright;
        writing-mode: vertical-lr;
      }
      @media screen and (min-width: 1200px) {
        display: none;
      }
    }
    .paddingContainer {
      @media screen and (max-width: 1200px) {
        display: none;
      }
      border-radius: 24px 0px 0px 24px;
      background-color: var(--primary-opacity4);
      padding: 40px;
    }
    &.open {
      width: 396px;
      overflow: hidden;
      @media screen and (max-width: 1440px) {
        position: absolute;
        z-index: 1;
        right: 0;
      }
      .collapseContainer {
        display: none;
      }
      .paddingContainer {
        display: block;
      }
    }
    &.close {
      width: 48px;
      overflow: hidden;
      .collapseContainer {
        display: flex;
      }
      .paddingContainer {
        display: none;
      }
    }
    .rangeContainer {
      margin-top: 24px;
      padding: 12px 8px 32px 8px;
      border-bottom: 1px solid var(--gray-opacity28);
      .track {
        margin-top: 16px;
        background-color: var(--gray-opacity28);
        height: 6px;
        border-radius: 3px;
        width: 100%;
        .progress {
          background-color: var(--gray800);
          height: 100%;
          border-radius: 3px;
          width: 10%;
        }
      }
    }

    .countContainer {
      padding: 24px 0;
      .titleContainer {
        padding: 0 6px;
      }
      .colorContainer {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        gap: 12px;
        section {
          display: flex;
          gap: 8px;
          align-items: flex-start;
          flex: 1;
          padding: 16px 26px;
          border-radius: 6px;
        }
      }
      .fileSizeContainer {
        margin-top: 24px;
        display: flex;
        border-radius: 6px;
        padding: 20px 8px;
        gap: 8px;
        background-color: var(--white-opacity32);
        align-items: center;
        justify-content: space-between;
        > div {
          display: flex;
          gap: 8px;
          align-items: inherit;
        }
      }
    }

    .tripleContainer {
      margin: 24px 0;
      display: flex;
      gap: 4px;
      > div {
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        flex: 1;
        padding: 8px 12px;
        background-color: var(--gray-opacity12);
        > .topGap {
          display: flex;
          align-items: flex-start;
          width: 100%;
          gap: 4px;
          font-size: 12px;
          font-weight: 500;
          line-height: 22px;
        }
      }
    }

    .buttonContainer {
      border-top: 1px solid var(--gray-opacity28);
      display: flex;
      gap: 12px;
      flex-direction: column;
    }
    #chartArea {
      max-height: 250px;
      margin: 20px 0;
      width: 100%;
    }
  }
}

.mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
  .searchContainer {
    display: flex;
    gap: 12px;
    label {
      min-width: 88px;
    }
  }

  .countContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    padding: 12px 8px;
    background-color: #fff;
    > .item {
      display: flex;
      gap: 2px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1;
      > .flex {
        gap: 6px;
      }
    }
    .separator {
      width: 1px;
      height: 32px;
      background-color: var(--gray-opacity28);
    }
  }

  .separatorHorizontal {
    height: 1px;
    width: 100%;
    background-color: var(--gray-opacity28);
    margin: 12px 0;
  }

  .listContainer {
    gap: 12px;
    display: flex;
    flex-direction: column;
    > li {
      border-radius: 8px;
      box-sizing: border-box;
      padding: 16px 12px;
      display: flex;
      gap: 18px;
      flex: 1;
      > .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      > .fontContainer {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .status {
          font-size: 12px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: -0.02em;
        }
      }
      &.progress {
        > .iconContainer {
          background-color: var(--gray-opacity28);
        }
        .status {
          color: var(--info);
        }
        background-color: var(--gray-opacity12);
        border: 1px solid var(--gray-opacity28);
      }
      &.done {
        > .iconContainer {
          background-color: var(--success-opacity28);
        }
        .status {
          color: var(--success);
        }
        background-color: var(--success-opacity8);
        border: 1px solid var(--success-light);
      }
      &.failed {
        > .iconContainer {
          background-color: var(--error-opacity28);
        }
        .status {
          color: var(--error);
        }
        background-color: var(--error-opacity8);
        border: 1px solid var(--error-light);
      }
    }
  }
  .registButton {
    background-color: #273240;
    width: 64px;
    height: 64px;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 53px;
    right: 16px;
  }
}
