:root {
  --primary-lighter: #d5e1ff;
  --primary-light: #acc1fd;
  --primary: #1a52de;
  --primary-dark: #002d9d;
  --primary-darker: #000f36;
  --primary-opacity4: #1a52de0a;
  --primary-opacity8: #1a52de14;
  --primary-opacity12: #1a52de1f;
  --primary-opacity28: #1a52de47;
  --primary-opacity48: #1a52de7a;

  --gray100: #f9fafb;
  --gray200: #f4f6f8;
  --gray300: #dfe3e8;
  --gray400: #c4cdd5;
  --gray500: #919eab;
  --gray600: #637381;
  --gray700: #454f5b;
  --gray800: #212b36;
  --gray900: #161c24;
  --gray-opacity12: #919eab1f;
  --gray-opacity28: #919eab47;
  --gray-opacity48: #919eab7a;

  --white: #ffffff;
  --white-opacity8: #ffffff14;
  --white-opacity12: #ffffff1f;
  --white-opacity16: #ffffff28;
  --white-opacity24: #ffffff3d;
  --white-opacity32: #ffffff52;
  --white-opacity48: #ffffff7a;

  --info-lighter: #d5edff;
  --info-light: #9dd5ff;
  --info: #2199f1;
  --info-dark: #0065af;
  --info-darker: #002f51;
  --info-opacity8: #2199f114;
  --info-opacity28: #2199f147;
  --info-opacity48: #2199f17a;

  --success-lighter: #c2f6ae;
  --success-light: #66c95b;
  --success: #208d28;
  --success-dark: #0e5f21;
  --success-darker: #074119;
  --success-opacity8: #208d2814;
  --success-opacity28: #208d2847;
  --success-opacity48: #208d287a;

  --error-lighter: #fdc0ab;
  --error-light: #f86d60;
  --error: #d12030;
  --error-dark: #8f1212;
  --error-darker: #630000;
  --error-opacity8: #d1203014;
  --error-opacity28: #d1203047;
  --error-opacity48: #d120307a;

  --warning-lighter: #fff3d5;
  --warning-light: #ffd181;
  --warning: #ffa02e;
  --warning-dark: #b75f17;
  --warning-darker: #7a3108;
  --warning-opacity8: #ffa02e14;
  --warning-opacity28: #ffa02e47;
  --warning-opacity48: #ffa02e7a;
}

.primaryLighterBackground {
  background-color: var(--primary-lighter);
}

.primaryLightBackground {
  background-color: var(--primary-light);
}

.primaryBackground {
  background-color: var(--primary);
}

.primaryDarkBackground {
  background-color: var(--primary-dark);
}

.primaryDarkerBackground {
  background-color: var(--primary-darker);
}

.primaryOpacity4Background {
  background-color: var(--primary-opacity4);
}

.primaryOpacity8Background {
  background-color: var(--primary-opacity8);
}

.primaryOpacity12Background {
  background-color: var(--primary-opacity12);
}

.primaryOpacity28Background {
  background-color: var(--primary-opacity28);
}

.primaryOpacity48Background {
  background-color: var(--primary-opacity48);
}

.primaryLighterColor {
  color: var(--primary-lighter);
}

.primaryLightColor {
  color: var(--primary-light);
}

.primaryColor {
  color: var(--primary);
}

.primaryDarkColor {
  color: var(--primary-dark);
}

.primaryDarkerColor {
  color: var(--primary-darker);
}

.primaryOpacity4Color {
  color: var(--primary-opacity4);
}

.primaryOpacity8Color {
  color: var(--primary-opacity8);
}

.primaryOpacity12Color {
  color: var(--primary-opacity12);
}

.primaryOpacity28Color {
  color: var(--primary-opacity28);
}

.primaryOpacity48Color {
  color: var(--primary-opacity48);
}

.gray100Background {
  background-color: var(--gray100);
}

.gray200Background {
  background-color: var(--gray200);
}

.gray300Background {
  background-color: var(--gray300);
}

.gray400Background {
  background-color: var(--gray400);
}

.gray500Background {
  background-color: var(--gray500);
}

.gray600Background {
  background-color: var(--gray600);
}

.gray700Background {
  background-color: var(--gray700);
}

.gray800Background {
  background-color: var(--gray800);
}

.gray900Background {
  background-color: var(--gray900);
}

.grayOpacity12Background {
  background-color: var(--gray-opacity12);
}

.grayOpacity28Background {
  background-color: var(--gray-opacity28);
}

.grayOpacity48Background {
  background-color: var(--gray-opacity48);
}

.whiteBackground {
  background-color: var(--white);
}

.whiteOpacity8Background {
  background-color: var(--white-opacity8);
}

.whiteOpacity12Background {
  background-color: var(--white-opacity12);
}

.whiteOpacity16Background {
  background-color: var(--white-opacity16);
}

.whiteOpacity24Background {
  background-color: var(--white-opacity24);
}

.whiteOpacity32Background {
  background-color: var(--white-opacity32);
}

.whiteOpacity48Background {
  background-color: var(--white-opacity48);
}

.gray100Color {
  color: var(--gray100);
}

.gray200Color {
  color: var(--gray200);
}

.gray300Color {
  color: var(--gray300);
}

.gray400Color {
  color: var(--gray400);
}

.gray500Color {
  color: var(--gray500);
}

.gray600Color {
  color: var(--gray600);
}

.gray700Color {
  color: var(--gray700);
}

.gray800Color {
  color: var(--gray800);
}

.gray900Color {
  color: var(--gray900);
}

.grayOpacity12Color {
  color: var(--gray-opacity12);
}

.grayOpacity28Color {
  color: var(--gray-opacity28);
}

.grayOpacity48Color {
  color: var(--gray-opacity48);
}

.whiteColor {
  color: var(--white);
}

.whiteOpacity8Color {
  color: var(--white-opacity8);
}

.whiteOpacity12Color {
  color: var(--white-opacity12);
}

.whiteOpacity16Color {
  color: var(--white-opacity16);
}

.whiteOpacity24Color {
  color: var(--white-opacity24);
}

.whiteOpacity32Color {
  color: var(--white-opacity32);
}

.whiteOpacity48Color {
  color: var(--white-opacity48);
}

.infoLighterBackground {
  background-color: var(--info-lighter);
}

.infoLightBackground {
  background-color: var(--info-light);
}

.infoBackground {
  background-color: var(--info);
}

.infoDarkBackground {
  background-color: var(--info-dark);
}

.infoDarkerBackground {
  background-color: var(--info-darker);
}

.infoOpacity8Background {
  background-color: var(--info-opacity8);
}

.infoOpacity28Background {
  background-color: var(--info-opacity28);
}

.infoOpacity48Background {
  background-color: var(--info-opacity48);
}

.successLighterBackground {
  background-color: var(--success-lighter);
}

.successLightBackground {
  background-color: var(--success-light);
}

.successBackground {
  background-color: var(--success);
}

.successDarkBackground {
  background-color: var(--success-dark);
}

.successDarkerBackground {
  background-color: var(--success-darker);
}

.successOpacity8Background {
  background-color: var(--success-opacity8);
}

.successOpacity28Background {
  background-color: var(--success-opacity28);
}

.successOpacity48Background {
  background-color: var(--success-opacity48);
}

.errorLighterBackground {
  background-color: var(--error-lighter);
}

.errorLightBackground {
  background-color: var(--error-light);
}

.errorBackground {
  background-color: var(--error);
}

.errorDarkBackground {
  background-color: var(--error-dark);
}

.errorDarkerBackground {
  background-color: var(--error-darker);
}

.errorOpacity8Background {
  background-color: var(--error-opacity8);
}

.errorOpacity28Background {
  background-color: var(--error-opacity28);
}

.errorOpacity48Background {
  background-color: var(--error-opacity48);
}

.warningLighterBackground {
  background-color: var(--warning-lighter);
}

.warningLightBackground {
  background-color: var(--warning-light);
}

.warningBackground {
  background-color: var(--warning);
}

.warningDarkBackground {
  background-color: var(--warning-dark);
}

.warningDarkerBackground {
  background-color: var(--warning-darker);
}

.warningOpacity8Background {
  background-color: var(--warning-opacity8);
}

.warningOpacity28Background {
  background-color: var(--warning-opacity28);
}

.warningOpacity48Background {
  background-color: var(--warning-opacity48);
}

.infoLighterColor {
  color: var(--info-lighter);
}

.infoLightColor {
  color: var(--info-light);
}

.infoColor {
  color: var(--info);
}

.infoDarkColor {
  color: var(--info-dark);
}

.infoDarkerColor {
  color: var(--info-darker);
}

.infoOpacity8Color {
  color: var(--info-opacity8);
}

.infoOpacity28Color {
  color: var(--info-opacity28);
}

.infoOpacity48Color {
  color: var(--info-opacity48);
}

.successLighterColor {
  color: var(--success-lighter);
}

.successLightColor {
  color: var(--success-light);
}

.successColor {
  color: var(--success);
}

.successDarkColor {
  color: var(--success-dark);
}

.successDarkerColor {
  color: var(--success-darker);
}

.successOpacity8Color {
  color: var(--success-opacity8);
}

.successOpacity28Color {
  color: var(--success-opacity28);
}

.successOpacity48Color {
  color: var(--success-opacity48);
}

.errorLighterColor {
  color: var(--error-lighter);
}

.errorLightColor {
  color: var(--error-light);
}

.errorColor {
  color: var(--error);
}

.errorDarkColor {
  color: var(--error-dark);
}

.errorDarkerColor {
  color: var(--error-darker);
}

.errorOpacity8Color {
  color: var(--error-opacity8);
}

.errorOpacity28Color {
  color: var(--error-opacity28);
}

.errorOpacity48Color {
  color: var(--error-opacity48);
}

.warningLighterColor {
  color: var(--warning-lighter);
}

.warningLightColor {
  color: var(--warning-light);
}

.warningColor {
  color: var(--warning);
}

.warningDarkColor {
  color: var(--warning-dark);
}

.warningDarkerColor {
  color: var(--warning-darker);
}

.warningOpacity8Color {
  color: var(--warning-opacity8);
}

.warningOpacity28Color {
  color: var(--warning-opacity28);
}

.warningOpacity48Color {
  color: var(--warning-opacity48);
}
