table {
  &.table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    thead {
      background-color: var(--gray-opacity12);
      color: var(--gray600);
      font-weight: 600;
      line-height: 22px;
    }
    tbody {
      color: var(--gray800);
      font-weight: 400;
      line-height: 18px;
      tr {
        border-bottom: 1px solid var(--gray-opacity28);
      }
    }
    tr {
      height: 64px;
    }
    td {
      padding: 8px;
    }
    td:first-child {
      text-align: start;
      padding-left: 16px;
    }
    td:not(:first-child) {
      text-align: center;
    }
  }
}
