.userSearch {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;

  @media screen and (max-width: 768px) {
    .paginationContainer {
      display: none;
    }
  }
  .table {
    width: 70vw;
    @media screen and (max-width: 768px) {
      colgroup > col:first-child {
        width: 52px;
      }
      width: 100%;
      td:nth-child(n + 5) {
        display: none;
      }
    }
  }

  .titleContainer {
    .title {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
    }
    @media screen and (max-width: 768px) {
      order: -3;
    }
  }

  .searchContainer {
    padding: 28px 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      order: -2;
    }
    .inputContainer {
      position: relative;
      width: 400px;
      align-items: center;
      display: flex;
      > a {
        display: none;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        > a {
          display: inline-block;
          position: absolute;
          right: 14px;
        }
        .input {
          height: 38px;
        }
      }
    }
    .buttonContainer {
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
    border-bottom: 1px solid var(--gray-opacity28);
  }

  .buttonContainer {
    display: flex;
    gap: 12px;
    @media screen and (max-width: 768px) {
      > button:first-child {
        display: none;
      }
      > button:last-child {
        flex: 1;
      }
    }
    &.bottomArea {
      justify-content: flex-end;
      margin-top: 28px;
      .button {
        color: #fff;
        background-color: var(--primary-dark);
        width: 96px;
      }
      .button:first-child {
        color: var(--gray900);
        background-color: unset;
      }
    }
  }

  .selectedItemContainer {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    padding: 28px 0;
    border-top: 1px solid var(--gray-opacity28);
    margin-top: 28px;
    @media screen and (max-width: 768px) {
      order: -1;
    }
  }
}
