.userSearch {
  display: flex;
  position: relative;
  flex-direction: column;
  .titleContainer {
    .title {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      @media screen and (max-width: 768px) {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }

  .searchContainer {
    padding: 28px 0;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    .inputContainer {
      width: 400px;
      display: flex;
    }
    border-bottom: 1px solid var(--gray-opacity28);
  }

  .buttonContainer {
    display: flex;
    gap: 12px;
    &.bottomArea {
      justify-content: flex-end;
      margin-top: 28px;
      .button {
        color: #fff;
        background-color: var(--primary-dark);
        width: 96px;
      }
      .button:first-child {
        color: var(--gray900);
        background-color: unset;
      }
    }
  }
}
